/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    h1{
        font-size: 48px;
        line-height: 60px;
        font-weight: bold;
    }    
    .navbar-brand {
        padding-left: 40px;
    }
    header .header-text {
        padding-left: 60px;
    }
    header .header-image {
        padding-right: 75px;
    }
    .footer-text {
        padding-right: 67px;
    }
    .testimonial img {
        margin-right: 15px;
    }
} 

/* mobile device 768px and below) */
@media only screen and (max-width: 767px) {
    h1{
        font-size: 28px;
    }  
    header .header-image {
        margin-top: 50px;
    }
    header .header-text {
        padding-left: 40px;
        padding-right: 40px;
    }
    footer div{
        padding:10px;
        font-size: 14px;
    }
    .testimonial p{
        padding:10px 20px;
        
    }
} 
@media only screen and (max-width: 767px) and (min-width: 576px)  {
    .online-courses .btn.header-btn2 {
        padding: 6px 13px;
    }
    .online-courses .header-btn2 {
        font-size: 14px;
        line-height: 16px;	
    }
    .online-courses .card-title {
        font-size: 18px;
        text-align: center;
    }
    .online-courses .text-muted {
        font-size: 14px;	
    }
    .online-courses .card-footer p {
        font-size: 12px;
        
    }
    header .header-image {
        margin-top: 50px;
    }
    } 